.error-page {
    padding: 20px;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.bx-error-circle, .bx-lock {
    font-size: 90px;
}