.spinner {
  @apply fixed z-10 bg-white/60 top-0 right-0 left-0 h-screen w-full flex justify-center items-center;
}

.loader {
  @apply border-[8px] border-gray-200 border-t-[8px] border-t-[#B88E2F] rounded-full w-[50px] h-[50px];
  animation: spin 0.5s linear infinite;
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
