/* Shop Page CSS */
#c-shop-page {
    @apply flex flex-col gap-[30px];
}

.sec-conteiner:has(#c-shop-page) {
    @apply max-w-full;
}

.pagination {
    @apply flex flex-wrap justify-center items-center p-[40px] gap-[20px];
}

.pagination button {
    @apply p-[25px] leading-[10px] h-[60px] bg-bgSec rounded-[10px];
}

.pagination button.active,
.pagination button:hover {
    @apply bg-yellowAccent text-white;
}

.sec-conteiner:has(#c-shop-page) .products {
    @apply grid-cols-4 p-5;
}

@media (max-width: 1325px) {
    .sec-conteiner:has(#c-shop-page) .products {
        @apply grid-cols-[repeat(auto-fit,_minmax(200px,_1fr))] p-5;
        gap: 20px;
    }
}


.grids-overv {
    display: flex;
    gap: 20px;
    cursor: pointer;
}

.grids-overv img {
    width: 16.33px;
}

.show-prodss {
    border-left: 3px solid #9F9F9F;
    padding-left: 30px;
}

.discount-percentage, .new-label {
    position: absolute;
    width: 48px;
    height: 48px;
    top: 20px;
    right: 20px;
    background-color: #E97171;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    color: #fff;
}

.new-label {
    background: #2EC1AC;
}

.price {
    display: flex;
    gap: 30px;
}
.discounted-price{
    font-weight: 600;
}
.price:has(.discount-percentage) .total-price {
    color: #B0B0B0;
    font-size: medium;
    text-decoration: line-through;
}

.total-price {
    font-weight: 600;
}



.product-gb a {
    width: 100%;
}




.sec-conteiner:has(#c-shop-page) .products {
    display: grid;
    gap: 20px;
  }
  
  .sec-conteiner:has(#c-shop-page) .products.grid {
    grid-template-columns: repeat(1);
  }
  
  .sec-conteiner:has(#c-shop-page) .products.list {
    grid-template-columns: 1fr;
  }
  
  .product-gb {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .product-gb.list {
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
  }
  
  .product-gb.list .product-image {
    width: 150px;
    height: auto;
  }
  
  .product-gb.list .group {
    flex: 1;
  }
  