/* Header */
.c-header {
    @apply flex flex-col bg-white content-center items-center justify-center py-5 px-2;
    position: sticky;
    top: 0;
}

.c-header.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}


.header-navbar {

    @apply flex flex-nowrap items-center justify-between w-full;
}

.header-navbar section,
.header-navbar .logo {
    @apply flex flex-nowrap items-center justify-between gap-1;
}


/**/

/*Nav-links*/
.logo img {
    @apply max-w-full h-auto mt-[-6px] h-[32px];
}

.options-links {
    display: flex;
    gap: 75px;
}

.devices-links {
    @apply flex gap-5 content-center justify-center items-center;
}

.devices-links>img {
    width: 20px;
}

/**/

/*hamburguer menu*/
.hamburger {
    @apply cursor-pointer z-50 text-xl block;
}

.hamburger.default:before {
    content: "\2630";
}

.hamburger.active:before {
    content: "\2716";
}

.nav-menu {
    @apply hidden flex-col;
}

.nav-menu.active {
    @apply flex absolute flex-col justify-center items-start bg-white w-full m-0 right-0 max-h-screen py-5 px-2;
}


.nav-menu ul li {
    @apply opacity-0;
    animation-duration: 0.5s;
    animation-name: slidein;
    animation-fill-mode: forwards;
}

.nav-menu ul li:nth-child(1) {
    animation-delay: 100ms;
}

.nav-menu ul li:nth-child(2) {
    animation-delay: 200ms;
}

.nav-menu ul li:nth-child(3) {
    animation-delay: 400ms;
}

.nav-menu ul li:nth-child(4) {
    animation-delay: 600ms;
}

@keyframes slidein {
    from {
        opacity: 0;
        transform: translateX(100%);
    }

    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

@media (min-width: 769px) {
    .hamburger {
        @apply hidden;
    }

    .nav-menu {
        @apply flex flex-row !important;
    }

    .nav-menu ul li {
        animation: none;
        @apply opacity-100 translate-x-0;
    }

}

@media (max-width: 768px) {
    .logo img {
        @apply max-w-full h-auto mt-[-6px] h-[28px];
    }

    .header-navbar {
        @apply flex flex-row-reverse;
    }

    .header-navbar section:nth-child(1) {
        @apply order-2;
    }

    .header-navbar section:nth-child(2) {
        @apply order-3;
    }

    .header-navbar section:nth-child(3) {
        @apply order-1;
    }

    .nav-menu .options-links {
        @apply flex flex-col flex-nowrap justify-center items-start gap-[75px];
    }
}

/**/


/*Header main Navgate*/
.header-navgatepage {
    @apply flex flex-col items-center justify-center h-[40vh] bg-cover bg-no-repeat bg-center;
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../../assets/img/bg.sec.jpg");
}

div:has(#c-shop-page) .header-navgatepage {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../../assets/img/bg.main.png");
}

.h-main {
    @apply flex flex-col items-center justify-center gap-2.5;
}

.breadcrumbs {
    @apply flex gap-2.5;
}

.bx-log-out {
    font-size: 26px;
}

/*Product section*/
.product-section {        
    @apply bg-bgSec;
    
}
.product-section .sec-conteiner {
    padding: 30px 0;
}

.product-section .breadcrumb-item:not(:last-child) {
    color: gray;
    font-weight: bold;
}

/* Filters*/
.c-fill-shop {
    @apply bg-bgSec;
}

.c-fill-shop .sec-conteiner {
    @apply flex flex-wrap py-5 justify-between items-center;
}


.c-fill-shop .sec-conteiner section {
    @apply flex items-center gap-[30px];
}


.c-fill-shop .sec-conteiner section input, 
.c-fill-shop .sec-conteiner section select {
    @apply leading-7 ml-2.5 p-1.5 text-center justify-center;
}


.c-fill-shop .sec-conteiner section input {
    @apply w-[60px];    
}



.c-fill-shop .sec-conteiner section button {
    @apply flex items-center gap-[10px];
}


.popup:has(.fill-category) {
    @apply p-5 flex justify-center items-center;
}

.fill-category {
    @apply bg-white min-w-[300px] max-w-[450px] h-[400px] p-5 rounded-lg gap-5 relative flex flex-col;
}

.t-fill {
    @apply flex gap-2.5 justify-between text-2xl;
}

/* Home page CSS */
.home-section {
    @apply bg-cover bg-center flex flex-col items-center justify-center;
    background-image: url('../../../assets/img/bg.main.png');
    height: calc(80vh - 76px);
}

.sec-main {
    @apply p-[30px] max-w-[1300px] w-full flex flex-col items-end;
}

.cont-main {
    @apply bg-bgMain p-[20px] rounded-[30px] flex flex-col justify-center max-w-[643px] gap-[40px];
    height: 433px;
}

.items-main {
    @apply flex flex-col gap-[10px] max-w-[480px];
}

.title-main {
    @apply text-yellowAccent;
}

.subtitle-main {
    font-weight: 500;
    font-size:medium;
    letter-spacing: 3px;
}

.btn-main {
    @apply bg-yellowAccent text-white p-[15px_50px] transition duration-200;
}

.btn-main:hover {
    @apply bg-white text-yellowAccent;
}

@media (max-width: 768px) {
    .home-section {
        @apply h-auto;
    }
    .cont-main {
        @apply max-w-full;
    }
    .sec-main{
        @apply items-center;
    }
}
