 #custom-cards {
     max-width: 100%;
     margin: 0 auto;
 }

 .splide__track {
     overflow: hidden;
 }


 .splide__slide img {
     width: 100%;
     height: auto;
     object-fit: cover;
     transition: transform 600ms ease, scale 600ms ease;
     transform: scale(0.8);
 }

 .splide__slide.splide__slide.is-active img {
     transform: scale(1);
 }


 .splide__pagination {
     bottom: .5em;
     left: 0;
     padding: 0 1em;
     position: absolute;
     right: -100px;
     z-index: 1;
     left: 0;
 }

 .splide__pagination__page.is-active {
     @apply bg-yellowAccent;
     border: 1px solid rgb(255, 255, 255);
     box-shadow: 0 0 0 1px #B88E2F;
 }


.splide__arrow--prev {
    display: none;
}

.splide__arrow--next {
    background: #ffffff;
    box-shadow: 0px 2px 4px #888888;
} 

.splide__arrow svg {
    fill: #B88E2F;
}
